* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.grid {
  border: 2px solid black;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
